/* ----------------------------------------------------------------
	Custom CSS

	All CSS is Mobile First (portrait phones, max 576px wide).
    CSS for bigger screens goes in appropriate media queries.
-----------------------------------------------------------------*/
.container-fluid {
    /* Super hacky fix to make space for navbar */
    position: fixed;
    top: 55px;
}

.toast-top-right {
    top: 66px;
}


/* 
    Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {

}

/* 
    Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {

}

/* 
    Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {

}

/*
    Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {

}

