# This file is exec'd from settings.py, so it has access to and can
# modify all the variables in settings.py.

DEBUG = {{settings.get('DEBUG', 'False')}}

# Make these unique, and don't share it with anybody.
SECRET_KEY = '{{settings['SECRET_KEY']}}'

DATABASES = {
    'default': {
        # Ends with "postgresql_psycopg2", "mysql", "sqlite3" or "oracle"
        'ENGINE': 'django.db.backends.{{settings['DATABASE_ENGINE']}}',
        'NAME': '{{settings['DATABASE_NAME']}}',
        'USER': '{{settings.get('DATABASE_USER', '')}}',
        'PASSWORD': '{{settings.get('DATABASE_PASSWORD', '')}}',
        'HOST': '{{settings.get('DATABASE_HOST', '')}}',
        'PORT': '{{settings.get('DATABASE_PORT', '')}}',
    }
}

ALLOWED_HOSTS = {{settings['ALLOWED_HOSTS']}}


{% if settings.get('RAVEN_URL') %}

ACTIVATE_RAVEN = True

try:
    import raven, os
    RAVEN_CONFIG = {
        'dsn': '{{settings['RAVEN_URL']}}',
        'release': raven.fetch_git_sha(os.path.join(os.path.dirname(__file__), '..')),
    }
except:

    RAVEN_CONFIG = {
        'dsn': '{{settings['RAVEN_URL']}}',
    }

{% else %}
ACTIVATE_RAVEN = False
{% endif %}
