{% extends "base.html" %}

{% load i18n static %}

{% block title %}{% trans "Home" %} - {{ block.super }}{% endblock %}

{% block content %}

    <h3>{% trans 'All products' %}</h3>

    <table>
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Price' %}</th>
            <th>{% trans 'Category' %}</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>
                    <a href="{% url 'products:edit_product' product.pk %}">
                        {{ product.name }}
                    </a>
                </td>
                <td>
                    {{ product.product_price }}
                </td>
                <td>
                    {{ product.product_category }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block js %}

{% endblock %}
