{% extends "base.html" %}

{% load i18n static %}

{% block title %}{% trans "Home" %} - {{ block.super }}{% endblock %}

{% block content %}

    <h3>{% trans 'All houses' %}</h3>

    <table>
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Members' %}</th>
        </tr>

        {% for house in houses %}
            <tr>
                <td>
                    <a href="{% url 'houses:edit_house' house.pk %}">
                        {{ house.name }}
                    </a>
                </td>
                <td>
                    {% for member in house.members.all %}
                        {{ member }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block js %}

{% endblock %}
