{% extends "base.html" %}

{% load i18n static %}

{% block title %}{% trans "Home" %} - {{ block.super }}{% endblock %}

{% block content %}

    <h3>{% trans 'Edit house' %}</h3>

    <form method="POST" action="#">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="{% trans 'Submit' %}">
    </form>

{% endblock %}

{% block js %}

{% endblock %}
