{% extends "base.html" %}

{% load i18n static %}

{% block title %}{% trans "Home" %} - {{ block.super }}{% endblock %}

{% block content %}

    <h3>{% trans 'Supplies for house ' %}{{ house.name }}</h3>

    <table>
        <tr>
            <th>{% trans 'Amount' %}</th>
            <th>{% trans 'Supplier' %}</th>
            <th>{% trans 'Shopping date' %}</th>
        </tr>

        {% for supply in supplies %}
            <tr>
                <td>
                    {{ supply.amount }}
                </td>
                <td>
                    {{ supply.supplier }}
                </td>
                <td>
                    {{ supply.shopping_date }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block js %}

{% endblock %}
