{% extends "base.html" %}

{% load i18n static %}

{% block title %}{% trans "Home" %} - {{ block.super }}{% endblock %}

{% block content %}
    <div class="d-flex h-100 align-items-center justify-content-center">
        <div class="text-center">
            <h1>{% trans 'Manateefood' %}</h1>
            <h4>{% trans 'Be welcomed here' %}</h4>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
