{% extends "base.html" %}

{% load i18n static %}

{% block title %}{% trans "Home" %} - {{ block.super }}{% endblock %}

{% block content %}
    <div class="row align-self-center">
        <div class="col">
            <form method="post" action="{% url 'users:login' %}">
                {% csrf_token %}
                {{ form }}

                <input type="submit" value="{% trans 'Login' %}">
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% lorem 3 p %}
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
