{% extends "base.html" %}

{% load i18n static recaptcha2 %}

{% block title %}{% trans "Register" %} - {{ block.super }}{% endblock %}

{% block content %}

    <h3>{% trans "Welcome!" %}</h3>

    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Register' %}">
    </form>

{% endblock %}

{% block js %}
    {% recaptcha_init %}
{% endblock %}
